## Kata 9
Ejemplos de práctica

In [9]:
def distance_from_earth(destination):
    if destination =='Moon':
        return '238,855'
    else:
        return 'Unable to compute to that destination'

distance_from_earth('Moon')

def days_to_complete(distance, speed):
    hours = distance / speed
    return hours / 24

days_to_complete(238855,75)
total_days = days_to_complete(238855,75)
round(total_days)

133

In [16]:
from datetime import timedelta, datetime

def arrival_time(destination, hours=51):
    now = datetime.now()
    arrival = now + timedelta(hours=hours)
    return arrival.strftime(f'{destination} Arrival: %A %H:%M')

arrival_time('Orbit', hours=.13)

'Orbit Arrival: Sunday 19:46'

In [23]:
def variable_length(*args):
    print(args)

variable_length(None)

def sequence_time(*args):
    total_minutes = sum(args)
    if total_minutes < 60:
        return f'Total time to launch is {total_minutes} minutes'
    else:
        return f'Total time to launch is {total_minutes / 60} hours'

sequence_time(4, 154, 18)

(None,)

'Total time to launch is 2.933333333333333 hours'

In [26]:
def variable_length(**kwargs):
    print(kwargs)

variable_length(tanks=1, day='Wednesday', pilots=3)

def crew_members(**kwargs):
    print(f'{len(kwargs)} astronauts assigned for this mission:')
    for title, name in kwargs.items():
        print(f'{title}: {name}')
        
crew_members(captain='Neil Armstrong', pilot='Buzz Aldrin', command_pilot='Michael Collins')

{'tanks': 1, 'day': 'Wednesday', 'pilots': 3}
3 astronauts assigned for this mission:
captain: Neil Armstrong
pilot: Buzz Aldrin
command_pilot: Michael Collins

## Ejercicio solicitado #1 a continuación

In [45]:
def tanks_report(tk1, tk2, tk3):
    total = (tk1 + tk2 + tk3) / 3
    return f'Reporte de tanques: Total {total}%, tk1: {tk1}%, tk2: {tk2}%, tk3: {tk3}%'

print(tanks_report(11, 14, 1))

def promedio(valores):
    total = sum(valores)
    numero_tanques = len(valores)
    return total / numero_tanques

promedio([84,50,16]) 

def tanks_report(tk1, tk2, tk3):
    return f'Reporte de tanques: Total {promedio ([tk1, tk2, tk3])}% tk1: {tk1}%, tk2: {tk2}%, tk3: {tk3}%'

print(tanks_report(48, 82, 14))

Reporte de tanques: Total 8.666666666666666%, tk1: 11%, tk2: 14%, tk3: 1%
Reporte de tanques: Total 48.0% tk1: 48%, tk2: 82%, tk3: 14%

## Ejercicio solicitado #2 a continuación

In [54]:
def mission_report(time_pre, fligth_time, destination, tank):
    return f"""
    Destino {destination}
    Tiempo de llegada {time_pre + fligth_time} horas
    Combustible {tank} litros"""

print(mission_report(10, 51, 'Moon', 1000))

def mission_report(destination, *hours, **tanks):
    return f"""
    Destino {destination}
    Tiempo de llegada {sum(hours)} horas
    Combustible {sum(tanks.values())} litros"""

print(mission_report('Moon', 10, 51, 2, tank1=1000, tank2=800))

def mission_report(destination, *hours, **tanks):
    report = f"""
    Destino {destination}
    Tiempo de llegada {sum(hours)} horas
    Combustible {sum(tanks.values())} litros"""

    for tank_name, litros in tanks.items():
        report += f"\n{tank_name} --> quedan {litros} litros\n"
    return report

print(mission_report('Moon', 10, 51, 2, tank1=1000, tank2=800))

    Destino Moon
    Tiempo de llegada 61 horas
    Combustible 1000 litros

    Destino Moon
    Tiempo de llegada 63 horas
    Combustible 1800 litros

    Destino Moon
    Tiempo de llegada 63 horas
    Combustible 1800 litros
tank1 --> quedan 1000 litros

tank2 --> quedan 800 litros